<li>
  <div class="d-flex align-items-center gap-2 mb-3">
    <%= image_tag comment.user.decorate.avatar, class: 'rounded-circle avatar-sm' %>
    <%= comment.user.name %>
  </div>
  <%= simple_format comment.content %>
  <div class="text-end">
    <span class="fs-6 text-muted">
      <%= l comment.created_at, format: :short %>
    </span>
  </div>
  <hr />
</li>
