<div class="card">
  <div class="card-header d-flex align-items-center">
    <div>
      <i class="bi bi-person"></i>
      通知
    </div>
    <div class="ms-auto">
      <%= link_to '全て既読にする', notifications_all_reads_path, class: 'btn btn-primary btn-sm', method: :post %>
    </div>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush notification-list-scroll">
      <%= render partial: 'notifications/notification', collection: @notifications %>
    </ul>
    <div class="mx-auto mt-3">
      <%= paginate @notifications %>
    </div>
  </div>
</div>
